body {
	text-align:center;
	background-color:#00CED1;
	margin:auto;
	}
h1 {
		font-size:19pt;
		font-family:Brush Script MT, Brush Script Std, cursive; 
		font-weight:bold; 
		margin:0px; 
		color:white;
	}
 h2 {
		font-size:15pt; 
		font-family:Brush Script MT, Brush Script Std, cursive; 
		font-weight:bold; 
		margin:2px; 
		color:white;
		}