body {
	text-align:center;
	background-image:url(https://github.com/s186004/pg-hello/blob/master/www/img/space.jpeg?raw=true);
	margin:auto;
	}
h1 {
		font-size:8pt;
		font-family:Brush Script MT, Brush Script Std, cursive; 
		font-weight:bold; 
		margin:0px; 
		color:white;
	}
 h2 {
		font-size:6pt; 
		font-family:Brush Script MT, Brush Script Std, cursive; 
		font-weight:bold; 
		margin:2px; 
		color:white;
		}